@use 'reset';

@mixin backgroundCover($url) {
  background: url($url) center center / cover;
}

@mixin flex($dir, $jc, $ai) {
  display: flex;
  flex-flow: $dir;
  justify-content: $jc;
  align-items: $ai;
}

body{
  box-sizing: border-box;
  background: #444;
}

.d-block{
  display: block;
}

.grid-container--2-col{
  display: grid;
  grid-template-columns: .8fr .2fr;
}

header,
footer{
  background: #000;
  color: #fff;
}

.btn{
  background-color: #fff !important;
  border-radius: 10px;

  &:hover{
    background-color: #f9f62d !important;
  }

}

img{
  max-width: 100%;
  grid-row: 1 / span 2;
  display: block;
}

.intro__hero__img{
  min-height: 100vh;
}

.names{
  text-transform: capitalize;
}

.form-group{
  width: 450px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  label, input{
    display: block !important;
  }

  input{
    width: 300px;
  }
}


.intro{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: .5rem;

  &__login{
    @include backgroundCover('/img/login.jpg')
  }

  &__toPost{
    @include backgroundCover('/img/toPostsBg.jpg');
  }
}

.blogpost{
  display: flex;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 10px 10px 24px -5px rgba(0,0,0,0.75);
  margin: .5rem auto 2rem;
  background: linear-gradient(90deg, rgba(255,253,155,1) 0%, rgba(255,255,218,1) 100%);
  width: 80%;

  article{
    flex: 4
  }
}

.create-post{
  @include flex(column nowrap, space-evenly, center);
  position: fixed;
  width: 50px;
  min-height: 50px;
  right: 0;
  bottom: 0;
  margin: .6rem;
  background: lightblue;
  font-variant: small-caps;
  border-radius: 50%;
  transition: all .5s ease-in-out;

  .create-post__txt{
    display: none;
  }

  &:hover {
    border-radius: 20px;
    padding: 1rem;
    transition: all .3s ease-in-out;
    .create-post__txt{
      display: block;
      margin-bottom: .8rem;
      text-align: center;
    }
  
  }
  
 
}

.user-info{
  text-align: center;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .grid__col--1{
    background: rgb(172, 172, 172);
  }

  .grid__col--2{
    background: rgb(214, 214, 214);
  }
}

.error{
  color: red;
}

.comment-icon{
  max-width: 1.5rem;
}

  aside{
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.75);
    background: linear-gradient(60deg, rgba(51,162,179,1) 0%, rgba(218,247,255,1) 100%);
    border-radius: 10px;
  }

  .detail--aside{
    padding: 2rem;
    width: 400px;
    img{
      display: inline;
      max-width: 50%;
      margin: 0;
    }
  }