@use 'reset';

@mixin backgroundCover($url) {
  background: url($url) center center / cover;
}

header,
footer{
  background: #000;
  color: #fff;
}

.btn{
  background: lightgreen;
}

img{
  max-width: 100%;
  grid-row: 1 / span 2;
}

.intro{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: .5rem;

  &__login{
    @include backgroundCover('/img/login.jpg')
  }

  &__toPost{
    @include backgroundCover('/img/toPostsBg.jpg');
  }
}

.error{
  color: red;
}