@use 'reset';
.d-block {
  display: block;
}

header,
footer {
  background: #000;
  color: #fff;
}

.btn {
  background: lightgreen;
}

img {
  max-width: 100%;
  grid-row: 1 / span 2;
}

.intro {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: .5rem;
}

.intro__login {
  background: url("/img/login.jpg") center center/cover;
}

.intro__toPost {
  background: url("/img/toPostsBg.jpg") center center/cover;
}

.create-post {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 50px;
  min-height: 50px;
  right: 0;
  bottom: 0;
  margin: .6rem;
  background: lightblue;
  font-variant: small-caps;
  border-radius: 50%;
  transition: all .5s ease-in-out;
}

.create-post .create-post__txt {
  display: none;
}

.create-post:hover {
  border-radius: 20px;
  padding: 1rem;
  transition: all .3s ease-in-out;
}

.create-post:hover .create-post__txt {
  display: block;
  margin-bottom: .8rem;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-container .grid__col--1 {
  background: #eeff57;
}

.grid-container .grid__col--2 {
  background: #36daf7;
}

.error {
  color: red;
}

.blogpost {
  border: 2px solid lightseagreen;
}

.comment-icon {
  max-width: 1.5rem;
}

aside {
  border: 1px solid #000;
}
